# -----------------------------------------------------------------------
# Pointstreak (stats API)
# https://apix.pointstreak.com
# -----------------------------------------------------------------------
POINTSTREAK_USERNAME=
POINTSTREAK_PASSWORD=